<nav id="menu" class="vhf">
	<ul class="vhflex wrapflex">
		<li class="vhf"><a href="/">Home</a></li>
		<li class="vhf"><a href="/join/">Membership</a></li>
		<li class="vhf"><a href="/about/">About Us</a></li>

		<li class="vhf break"><a href="/social/">Social Media</a></li>
		<li class="vhf"><a href="http://acitytoshare.org">A City to Share</a></li>

		<li class="vhf rss-subscribe break"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS feed</a></li>

		<li class="vhf"><a href="{{ "/events.ical" | prepend: site.baseurl }}">iCal feed</a></li>

	</ul>
</nav>
