<div class="donate">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" name="paypal">
        <input name="cmd" type="hidden" value="_xclick" />
        <input name="business" type="hidden" value="payments@pompeybug.org.uk" />
        <input name="lc" type="hidden" value="GB" />
        <input name="item_name" type="hidden" value="Join Portsmouth Cycle Forum 2015" /> <input name="item_number" type="hidden" value="pcf2015" />
        <input name="amount" type="hidden" value="10.56" />
        <input name="currency_code" type="hidden" value="GBP" />
        <input name="button_subtype" type="hidden" value="services" />
        <input name="no_note" type="hidden" value="0" />
        <input name="shipping" type="hidden" value="0.00" />
        <input name="bn" type="hidden" value="PP-BuyNowBF:btn_paynowCC_LG.gif:NonHostedGuest" />
        <input alt="PayPal - The safer, easier way to pay online." name="submit" src="/assets/pcf_pp_button.png" type="image" />
        <img src="https://www.paypal.com/en_GB/i/scr/pixel.gif" alt="" width="1" height="1" border="0" />
    </form>
</div>
