html {
    font-family: $base-font-family;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
}

* {
    box-sizing: border-box;
}

body, main, header, nav, article, section, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $text-color;
}

main article {
    p a,
    ul a {
        display: inline;
        color: $pcf-green;
        font-weight: bold;
    }
}

.pcfvideo {
    margin: $gap $huge-gap;
    float: right;
}
