li {
/* display: inline-block; */
}

body {
    main {
        header {
            display: flex;
            align-items: stretch;

            h1, time {
                display: flex;
                align-items: center;
                align-content: stretch;
            }

            h1 {
                flex: 3;
            }
            time {
                flex: 1;
            }
        }
        article {
            figure {
                img {
                    display: flex;
                }
            }
        }
    }
}

.vhflex {
    display: flex;
    flex-direction: column;     
}

.vhf {
    flex: 0;
}

.hvflex {
    display: flex;
    flex-direction: row;
}

.hvf {
    flex: 1;
}

main.hvf {
    flex: 4;
}

.wrapflex {
    flex-wrap: wrap;
}

article>header {
    display: flex;
    align-items: center;

    a {
        flex: 2;
    }
    time {
        flex: 1;
        flex-basis: 4em;
    }
}

@media screen and (max-width: $on-palm) {

  .vhflex {
      flex-direction: row;
  }


  .hvflex {
      flex-direction: column;
  }
}
