@mixin pcf_button() {
    border-radius: $small-gap;
    text-decoration: none;
    display: inline-block;
    padding: $small-gap $big-gap;
    margin-bottom: $small-gap;
    background: $pcf-grey;
    z-index: 100;
}

.button {
    @include pcf_button();
}

.disabled {
    color: #777;
}


body {
    padding: 1rem;

    >* {
        max-width: $content-width;
        margin: 0 auto;
    }

    >header {

        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;

        img {
            width: 100%;
            max-width: 450px;
        }
    }


    nav {
        display: inline-block;
        min-width: 10rem;

        >ul {
            padding-right: 1em;
            padding-bottom: 1em;
            list-style: none;
            >li {
                min-width: 9em;
                >a {
                    @include pcf_button();
                    width: 100%;
                }
                a:hover {
                    background: white;
                }
            }
        }
    }

    main {
        display: block;
        width: 100%;

        p, h1, h2, table {
            padding: $huge-gap $gap $gap $gap;
            +p {
                padding-top: $gap;
            }
        }

        ul,ol, pre {
            padding: $gap $huge-gap;
        }

        article.precis {
            h1 {
                font-size: 140%;
                padding: $gap $big-gap;
                line-height: $base-line-height;
                min-height: $base-line-height*1.5;
            }

            time {
                padding: $gap;
                line-height: $base-line-height*0.8;
                min-height: $base-line-height*1.5;
                width: 6em;
            }

         }

        article.precis:hover {
            background: white;
         }

        article {
            margin-bottom: 3rem;
            background: $background-color;
            line-height: 140%;
            border-radius: $small-gap;



            header {

                h1 {
                    font-family: 'Open Sans Condensed';
                    padding: $small-gap $big-gap;
                    background: $pcf-green;
                    color: $background-color;
                    border-radius: $small-gap;
                    vertical-align: middle;
                }

                h1, h2, time {
                    line-height: $base-line-height*0.8;
                }

                h1 {
                    font-size: 250%;
                }

                h2 {
                    font-size: 150%;
                }

                time {
                  background: $pcf-grey;
                  max-width: 7rem;
                  text-align: center;
                  margin-left: $gap;
                  border-radius: $small-gap;
                  padding-left: $gap;
                  padding-right: $gap;
                }

            }

            li {
                margin-top: $gap;
            }

            >a {
                display: inline-block;
                padding: $gap;
            }

            figure {

                img {
                    width: 100%;
                    border-radius: $small-gap $small-gap 0 0;
                }

                >figcaption {
                    padding: $gap;
                    background: rgba(255,102,0,1);
                    color: $background-color;
                    width: auto;
                    border-radius: 0 0 $small-gap $small-gap;
                }

            }

        }

        .split_small {
            float: right;
            width: 45%;
            padding-left: 5%;
            padding-bottom: 1rem;
            padding-top: 2rem;
        }

        .split_main {
        }

        .donate {
            background: $pcf-orange;
            color: #fff;
            float: right;
            max-width: 20rem;
            padding: 2*$huge-gap $huge-gap;
            border-radius: $small-gap;
            margin-left: $huge-gap;

            p {
                text-align: right;
            }

            input {
                font-size: 140%;
            }
        }

        dt {
            display: inline-block;
            width: 7em;
            float: left;
        }
        dl, dt, dd {
            padding: $small-gap $gap;
        }

    }

    footer {
        text-align: right;
    }

}



@media screen and (max-width: $on-palm) {

    body {

        >header {
            margin-bottom: $gap;
        }

        nav {

            >ul {

                >li {
                    min-width: 9em;
                    margin: $small-gap;

                    >a {
                        width: 100%;
                        text-align: center;
                        padding: $small-gap;
                    }
                }
            }
        }

        article {
            margin: 2rem 0 0 0;
            box-shadow: none;

            header h1 {
                font-size: 150%;
            }
        }
    }
}
